.DS_Store
.env
.ftpquota
.phpunit.result.cache
.vscode
error_log
node_modules
vendor/
nohup.out
/phpmyadmin
*.phar

config.json
config.php
config.inc.php
database_dump_*.sql
discordWebhooks (not CURL).php
Discord.php
localDbUpdate.sh

backups
depthcharts
/ibl5/ibl/IBL/
/ibl5/shellScripts/
!/ibl5/ibl/IBL/Schedule.htm
!/ibl5/ibl/IBL/Standings.htm
!/ibl5/classes/
!/ibl5/modules/
!/ibl5/ibl-laravel/
!/IBL6
.htaccess
