ibl5/migrations/*.sql linguist-generated=true
docker/entrypoint.sh text eol=lf
bin/* text eol=lf
*.car filter=lfs diff=lfs merge=lfs -text
*.sco filter=lfs diff=lfs merge=lfs -text
*.plr filter=lfs diff=lfs merge=lfs -text
*.rcb filter=lfs diff=lfs merge=lfs -text
