.DS_Store
.ftpquota
error_log
!/ibl5
!sharedFunctions.php
config.php
config.inc.php
discordWebhooks (not CURL).php
Discord.php
/backups
depthcharts
/ibl
/ibl5/vendor
/ibl5/joe/ibl_draft/includes/classes/Discord.php
/phpmyadmin