includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - phpstan-baseline.neon

parameters:
    level: max
    parallel:
        maximumNumberOfProcesses: 1
    paths:
        - classes
    excludePaths:
        - classes/SiteStatistics
    bootstrapFiles:
        - phpstan-stubs/nuke-globals.stub.php
    phpVersion: 80300
    treatPhpDocTypesAsCertain: false
