includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - phpstan-tests-baseline.neon

parameters:
    level: 6
    paths:
        - tests
    excludePaths:
        - tests/TeamOffDefStats/TeamOffDefStatsRepositoryTest.php
    bootstrapFiles:
        - phpstan-stubs/nuke-globals.stub.php
    phpVersion: 80300
    treatPhpDocTypesAsCertain: false

services:
    -
        class: PHPStanRules\RequireStrictTypesRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\RequireMeaningfulAssertionsRule
        tags:
            - phpstan.rules.rule
