includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - classes
        - phpstan-rules
    excludePaths:
        - classes/Bootstrap/LegacyFunctions.php
        - phpstan-rules/Fixtures
    bootstrapFiles:
        - phpstan-stubs/nuke-globals.stub.php
    phpVersion: 80300
    treatPhpDocTypesAsCertain: false

services:
    -
        class: PHPStanRules\BanNumberFormatRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\RequireStrictTypesRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanDirectNukeGlobalsRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanDirectCommonMysqliInstantiationRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanBeginTransactionInRepositoryRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\RequireEscapedOutputRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanRawSuperglobalsRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanGlobalKeywordRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanInlineCssRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanDeprecatedHtmlTagsRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanRequireOnceRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\RequireMeaningfulAssertionsRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\PageLayoutHeaderBeforeCookieRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanReservedWordColumnsRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanInconsistentColumnNamesRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanNonSnakeCaseColumnsRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanBareTableIdentifierRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanAddslashesRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanFilterSaveArgRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanMysqliInViewClassesRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanDbTouchingCallInViewRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanDbTouchingNewInViewRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\TradingPrefixConventionRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanCastFunctionsRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanDieExitInProductionRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanEchoInNonViewClassesRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanJsonDecodeWithoutThrowFlagRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanServiceExtendsBaseRepositoryRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanRawHtmlEscapeFunctionsRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStanRules\BanDirectHeaderCallRule
        tags:
            - phpstan.rules.rule
