<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         testdox="true">
    <testsuites>
        <testsuite name="Trading Module Tests">
            <directory>tests/Trading</directory>
        </testsuite>
        <testsuite name="Extension Module Tests">
            <directory>tests/Extension</directory>
        </testsuite>
        <testsuite name="Depth Chart Module Tests">
            <directory>tests/DepthChart</directory>
        </testsuite>
        <testsuite name="UpdateAllTheThings Tests">
            <directory>tests/UpdateAllTheThings</directory>
        </testsuite>
    </testsuites>
</phpunit>