<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         testdox="true">
    <testsuites>
        <testsuite name="Services Tests">
            <directory>tests/Services</directory>
        </testsuite>
        <testsuite name="Player Module Tests">
            <directory>tests/Player</directory>
        </testsuite>
        <testsuite name="Team Module Tests">
            <directory>tests/Team</directory>
        </testsuite>
        <testsuite name="Trading Module Tests">
            <directory>tests/Trading</directory>
        </testsuite>
        <testsuite name="Extension Module Tests">
            <directory>tests/Extension</directory>
        </testsuite>
        <testsuite name="UpdateAllTheThings Tests">
            <directory>tests/UpdateAllTheThings</directory>
        </testsuite>
        <testsuite name="DepthChart Module Tests">
            <directory>tests/DepthChart</directory>
        </testsuite>
        <testsuite name="Waivers Module Tests">
            <directory>tests/Waivers</directory>
        </testsuite>
        <testsuite name="Draft Module Tests">
            <directory>tests/Draft</directory>
        </testsuite>
    </testsuites>
</phpunit>